<div id="wrapper">
    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
        <!-- TopBar -->
        <app-navbar></app-navbar>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <app-chatroom-window class="w-75"></app-chatroom-window>
        </div>
        <!---Container Fluid-->
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- Footer -->
    </div>
</div>
